<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1000">

    <title>Печь</title>

    <link rel="icon" href="https://app.pzzby.com/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
<div class="container__clean">
	<div>
		<h1>
			<img src="{{ url_for('static', filename= 'logo.svg') }}" class="logo">

		</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}
        <form action="/login" class="forms form-login" method="POST">
            <div class="ips">
                <label>Логин</label>
                <input type="text" name="username" class="i-p" value="">
            </div>
            <div class="ips">
                <label>Пароль</label>
                <input type="password" name="password" class="i-p" value="">
            </div>

            <button type="submit" class="btn-big">Войти</button>
        </form>
    </div>
</div>


</body></html>