<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title> Расписание </title>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename= 'favicon.png') }}">
		<script src="{{ url_for('static', filename= 'scripts/jquery-3.6.0.min.js') }}"></script>
		<script src="{{ url_for('static', filename= 'scripts/socket.io.js') }}"></script>
		<script src="{{ url_for('static', filename= 'scripts/main.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
	</head>
	<body>
		<div class="overlay" style="display: none;">
            <div class="window">
                <h2>Добавить в расписание</h2>
                <label>День недели</label>
                <select class="weekday_choice">
                    <option value="1">Понедельник</option>
                    <option value="2">Вторник</option>
                    <option value="3">Среда</option>
                    <option value="4">Четверг</option>
                    <option value="5">Пятница</option>
                    <option value="6">Суббота</option>
                    <option value="7">Воскресенье</option>
                </select>
                <br/>
                <label>Время</label>
                <input class="time" type="time" value="12:00"/>
                <br/>
                <label>Режим</label>
                <select class="choice_mode"></select>
                <div class="confirm button">Добавить</div>
            </div>
        </div>
		<div class="flex-row">
<!--			<img id="header-logo" src="{{ url_for('static', filename= 'logo.svg') }}"/>-->
			<div class="telemetry">
				<div class="item">
					<img src="{{ url_for('static', filename= 'conveyor.svg') }}"/>
					<div class="conv">~ mPm</div>
				</div>
				<div class="item">
					<img src="{{ url_for('static', filename= 'fan.svg') }}"/>
					<div class="fan">~ rPm</div>
				</div>
				<div class="item">
					<img src="{{ url_for('static', filename= 'heat.svg') }}"/>
					<div class="heater">~ °С</div>
				</div>
				<div class="item">
					<div class="light red"></div>
					<div>Печка греется</div>
				</div>
			</div>

<!--			<div class="spacer"></div>-->
<!--			<h2>Планировщик задач печки</h1>-->
			<div class="spacer"></div>
			<a class="button" href="/settings">Настройки</a>
		</div>


		<div class="status">
			<div class="item">
				<div class="description">Режим:</div>
				<div class="current">None</div>
			</div>
			<div class="item">
				<div class="description">Время:</div>
				<div class="time_now">17:35</div>
			</div>
			<div class="item">
				<div class="description">Завершение режима:</div>
				<div class="ending">18:00</div>
			</div>
			<div class="item">
				<div class="description">Следующий режим:</div>
				<div class="next">Готовка пиццы</div>
			</div>
		</div>

		<h1>Расписание работы печи</h1>
			<div class="wd_container"></div>

	</body>
</html>